body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    color: #F9FAF8;
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.header-logo{
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    padding-right: 500px;   
}

.header-buttons{
    display: flex;
}

.header-link{
    padding: 15px;
}

.header-link a{
    font-size: 15px;
    color: #F9FAF8;
    text-decoration: none;
}

.upper-container{
    align-items: center;
    justify-content: center;
    text-align: left;
    display: flex;
    padding: 150px;
    color: #F9FAF8;
    background-color: #1F2937;
}

.upper-container-text{
    width: 500px;
    flex-direction: column;
}

.upper-title{
    font-size: 48px;
    font-weight: bolder;
}

.sign-up-button-header{
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 5px;
    padding: 8px 30px 8px 30px;
    margin-top: 10px;
}

.image-container{
    margin-left: 50px;
}

.image-fuji{
    border-radius: 10px;
    width: 500px;
    height: auto;
}

.center-container{
    background-color: #F9FAF8;
    padding: 0px 100px 100px 100px;
}

.center-title{
    padding: 40px;
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.center-boxes{
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.center-box1{
    width: 120px;
    height: 120px;
    border: 3px solid;
    border-radius: 10px;
    border-color:  #3882F6;
    margin-bottom: 5px;
}

.middle-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.quote{
    width: 850px;
    padding: 100px 100px 0px 100px;
    text-align: left;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1F2937;
}

.sign{
    position: relative;
    left: 300px;
    padding-bottom: 100px;
    text-align: right;
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.bottom-container{
    background-color: #3882f6;
    color: white;
    display: flex;
    border-radius: 8px;
    margin: 64px 120px;
    padding: 36px;
    justify-content: space-around;
}

.ad-container{
   
}

.bottom-title{
    font-size: 24px;
    font-weight: bolder;
}


.sign-up-button-bottom{
    border-radius: 8px;
    border-color: white;
    background-color: transparent;
    border-style: solid;
    color: #F9FAF8;
    padding: 0px 25px 0px 25px;
}



.footer{
    text-align: center;
    padding: 30px;
    color: #F9FAF8;
    background-color: #1F2937;
}